/*------
GENERAL ELEMENTS
------*/
html, body {
   font-family: 'Open Sans', sans-serif;
}

a {
    outline: none;
}

a:hover {
    outline: none;
}
a:focus, a:visited {
    outline: none;
}

img {

}








/*------
TOP PART 
------*/

/* =========================== Banner ======================== */

.b-img{
    position: relative;
    min-height: 530px;
}

.b-img::after{
    position: absolute;
	top: 0;
	right: 0;
	content: '';
	left: 0;
	background: url("../images/banner-img.png");
}

/*------
FOOTER 
------*/




/*------
MAIN NAV
------*/

#main_nav {

}
ul#nav > li > a, ul#nav_mobile > li > a {

}

ul#nav > li, ul#nav_mobile > li {

}

ul#nav > li > a:hover, ul#nav_mobile > li > a:hover {

}



/*------
CUSTOM ELEMENTS
------*/



/*------
RESPONSIVE CSS
------ */

@media (max-width: 1440px){

}
@media (max-width: 1280px){

}
@media (max-width: 1024px){
  
}
@media (max-width: 991px){
  
}
@media (max-width: 980px){
  
}
@media (max-width: 860px){

}
@media (max-width: 768px){ 

}
@media (max-width: 767px){

}
@media (max-width: 640px){

}

@media (max-width: 480px){
 
}
@media (max-width: 320px){
 
}